@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Bai Jamjuree", sans-serif;
}
body {
  background-color: #f5f5f5;
}
.burger-icon,
.burger-check,
.burger-close {
  display: none;
}
.text-middle {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.text_big {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
}
.text-large {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.64px;
}
.heading-red {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #e94d35;
}
.heading-mini {
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
}
.heading-big {
  font-size: 56px;
}
/* !navbar start */
nav {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.nav-info {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 130px;
  height: 32px;
}
nav button {
  height: 42px;
  width: 100px;
  border: 1px solid #161513;
  border-radius: 0px;
}
/* !navbar finish */
/* !HEADER MAIN START */
.header-main {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header-left {
  display: flex;
  flex-direction: column;
}
.main-header-left h2,
h1,
span,
.main-header-left_line {
  margin-bottom: 5%;
}
.flower {
  width: 20px;
  height: 20px;
}
#btn1 {
  width: 180px;
  height: 40px;
  background: #161513;
  border: 1px solid #161513;
  border-radius: 0px;
  color: #ffffff;
}
#btn2 {
  width: 150px;
  height: 40px;
  border: 1px solid #161513;
  border-radius: 0px;
}
/* !HEADER MAIN FINISH */
/* !SECTION 1 START */
.section1 {
  margin-left: 9%;
  margin-top: 9%;
  display: flex;
  justify-content: space-around;
}
.section1 p,
h2 {
  margin-bottom: 2.8%;
}
.section1-left {
  width: 30%;
}
.section1-right {
  width: 60%;
}

.info {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.info-text {
  width: 16%;
  display: block;
}

/* !SECTION1 FINISH */
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% auto;
  padding: 0 3%;
  width: 70%;
  height: 140px;
  border: 1px solid #161513;
}
.block-award-info {
  display: flex;
  align-items: center;
}
.number {
  width: 50px;
  height: 50px;
}
.section2_intro {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* ! SECTION2 FINISH */
/* !SECTION3 START */

.section3_intro {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.layer {
  width: 100%;
  display: flex;
  margin: 1% auto;
  width: 60%;
  height: 460px;
  justify-content: space-between;
}
.layer-left {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.layer-btn {
  height: 40px;
  width: 30%;
  background: #e94d35;
  border-radius: 0px;
  border: none;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
/* !SECTION3 FINISH */
/* !SECTION4 START */
.section4_intro {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.parts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}
.part {
  margin: 1%;
  width: 30%;
  height: 140px;
  border: 1px solid #161513;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 3%;
}
/* !SECTION4 FINISH  */
/* !SECTION5 START */
.section5_intro {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.customers {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.picture {
  margin: 1%;
  width: 15%;
  height: 80px;
  border: 1px solid #161513;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* !SRCTION5 FINISH */
/* !- !SECTION 6 START -->*/
.section6_intro {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1% auto;
  padding: 0 3%;
  width: 70%;
  height: 140px;
  border: 1px solid #161513;
}
/*!SECTION 6 FINISH --> */
/* !FOOTER START */
.footer {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #161513;
  color: #f5f5f5;
  justify-content: space-between;
  flex-direction: column;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-top: 3%;
  margin: 0 auto;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}
/* !FOOTER FINISH */
/* !ADAPTIVE START */
@media all and (max-width: 784px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 8px;
    right: 30px;
  }
  .burger-icon {
    display: block;
    position: absolute;
    top: 24px;
    right: -25px;
  }
  .burger-check {
    display: block;
    position: absolute;
    top: 8px;
    right: -29px;
    width: 29px;
    height: 44px;
    opacity: 0.6;
    z-index: 2000;
  }
  .burger-check:checked + .nav-info {
    display: block;
  }

  .burger-check:checked ~ .burger-close {
    display: block;
    position: absolute;
    top: 11px;
    right: 33px;
    z-index: 1999;
  }

  .nav-login {
    display: none;
  }
  .nav-info {
    display: none;
    position: absolute;
    top: 11px;
    right: -35px;
    width: 86px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 4px 13px 43px 22px rgba(0, 0, 0, 0.61);
  }
  .person {
    width: 80%;
  }
  .text-middle {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .text_big {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.48px;
  }
  .text-large {
    font-size: 20px;
    line-height: 40px;
  }
  .main-header-left {
    width: 50%;
    margin-left: 20%;
  }
  .heading-mini {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .heading-big {
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
  }
  .layer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    border: 1px solid #161513;
  }
  .parts {
    display: flex;
    flex-wrap: wrap;
  }
  .part {
    width: 100%;
  }
  .section4_intro {
    margin-top: 17%;
  }
}
@media all and (max-width: 425px) {
  .header-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-header-left {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .main-header-left h2 {
    font-size: 54px;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .person {
    display: none;
  }
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .section1-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section1-right {
    width: 90%;
    margin: 0;
  }
  .layer img {
    width: 310px;
  }
  .picture {
    width: 40%;
  }
  .article {
    width: 90%;
  }
  .block-text {
    width: 90%;
  }
  .text_big {
    font-size: 19px;
  }
  .layer img {
    width: 255px;
  }
  .layer {
    height: 400px;
  }
  .block {
    width: 80%;
  }
  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media all and (max-width: 375px) {
  .block {
    height: 240px;
  }
  .layer img {
    width: 225px;
  }
  .layer {
    height: 370px;
  }
  .part {
    height: 170px;
  }
  .article {
    height: 170px;
  }
}

@media all and (max-width: 320px) {
  .text-middle li {
    font-size: 14px;
  }
  .section1-right span {
    font-size: 18px;
    color: #e94d35;
  }
  .section1-right br {
    display: none;
  }
  .layer img {
    width: 192px;
  }
  .layer {
    height: 400px;
  }
  .article {
    height: 200px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .footer {
    height: 586px;
  }
  .footer ul {
    margin-bottom: 10%;
  }
  .footer-bottom img {
    width: 20px;
  }
}
/* !ADAPTIVE FINISH */
